<% if (locals.files) {%>
<ul class="files">
    <% files.forEach((file) => { %>
    <li>
        <p><%= file.name %></p>
        <a href="/file-uploader/file/<%=file.id%>">View Details</a>
        <a
            href="/file-uploader/file/download/<%=file.id%>"
            download="<%=file.name%>"
            >Download</a
        >
        <a href="/file-uploader/file/delete/<%=file.id%>">Delete</a>
    </li>
    <% }); %>
</ul>
<%}%>
